.logo{
    align-items: center;
    display: flex;
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span{
    font-size: 24px;
    padding-left: 5px;
}

.footer{
    text-align: center;
}

.container{
    padding-top: 10px;
    text-align: center;
    margin-top: 5px;
  }

.imageblock {
    float: left;
}